body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}
.game {
  padding: 30px;
  margin: 0;
  background-color: orange;
  width: 100%;
  min-height: 100vh;
}

.game__title {
  text-align: center;
  margin-top: 70px;
}
.game__dialog {
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px;
  text-align: center;
  width: 450px;
  /* height: 200px; */
  border: black solid 1px;
  border-radius: 10px;
  background-color: gainsboro;
}

.game__set {
  display: block;
  width: 200px;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: seagreen;
  color: snow;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 30px;
  font-size: 18px;
}
.game__set:hover {
  background-color: rgb(12, 170, 12);
}
.game__img {
  display: none;
  width: 70%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.game__img_active {
  display: block;
}
